body {    
    margin: 0;
    background: rgb(124,32,186);
    background: linear-gradient(90deg, rgba(124,32,186,1) 10%, rgba(223,132,132,1) 50%, rgba(230,189,131,1) 81%);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


aside {
   
    position:fixed;
    top:0;
    right:0;
    z-index:999;
    display:flex;
}


#menu-opener {

    width:40px;
    height:40px;
    cursor:pointer;
    margin-top:10px;
    margin-right:10px;
}
#menu-opener:hover {
  transform:matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);
}
#menu-area {
    position: relative;
   border-radius:94% 100% 0% 100% / 0% 0% 100% 0%   ;
    width:0px;
    margin: 0%;
    height:900px;
    background: linear-gradient( to right, #354381e7 0%, #5b4ba2e8 100%);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    overflow-x:hidden;
    overflow-y:auto;
    transition: all 0.5s ease; 
}
#menu-area ul, #menu-area li {

    list-style:none;
    margin-top: 0px;
    margin:0px;    
    padding:0;
    text-align: center;
    padding:0;
   
}
#menu-area li {
    padding:10px 0;
    margin-top: auto;
    margin: 0px;
    text-align:center;  
    display: flex;
    padding: 54px 100px;
    border-bottom-style: ridge;
    color:rgb(246, 246, 246);
    cursor:pointer;
}
#menu-area li:hover {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color:rgb(246, 246, 246);
}
#menu-area li a {
    text-decoration:none;
    color:rgb(246, 246, 246);
}
#menu-area li a:hover {
    color:rgb(246, 246, 246);
}   
#menu-area li {
    border-bottom:none;
}

.container{
background-color: rgba(10,23,55,0.5);
flex-direction: row;
border-radius: 10px;
display: flex;
margin: 10px;
width: 1900px;
height: 470px;
overflow: hidden;
}

.box {
    color: white;
    width: 400px;
    height: 400px;
    background-color: rgb(10, 23, 55);;   
    border-radius: 10px;
    margin: 30px;
    padding: 5px;
    overflow: hidden;
}
.box:hover {
    transform:  scale(1.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transition: all 0.9s ease;

}
#titulo {
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-left: 720px;
    justify-content: center;
    height: 70px;
    width: 400px;
    background-color: rgb(10, 23, 55);
    border-radius: 10px;
}


.conteudosobremim{
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: rgba(10, 23, 55, 0.514);
    border-radius: 50px;
    width: 1860px;
    color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
    
}


#sobremimid{
        display: flex; 
        flex-direction: row;
        margin: 0px;
        background-color: rgba(4, 24, 73, 0.89);
        border-radius: 100px;
        width: 180px;
        color: white;
        height: 100px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
  

}
#sobremimid:hover{
    transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);
    transition: all 0.5s ease;


}     
#conteudobox {
    background-color: rgba(112, 117, 128, 0.959);
    color: white;
    width: 380px;
    height: 190px;
    border-radius: 10px;
    margin: 0px;
    font-size: 18px;
    padding: 10px;
    margin-top: 300px;
    position: relative;
    transition: all 0.2s ease;
}

#botaohtmlcss{
        display: flex;
    margin-top: 140px;
    width: 390px;
    flex-direction:row ;
    justify-content: center;
    border-radius: 10px;
    background: rgb(124,32,186);  
    padding: 1px;
    margin: 5px;
    margin-top: 80px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    background: linear-gradient(90deg, rgba(124,32,186,1) 10%, rgba(223,132,132,1) 50%, rgba(230,189,131,1) 81%);
    background-size: 200% 200%;
}
#botaohtmlcss:hover {
        background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        box-shadow: 0 5px 15px rgba(0,0,0,0.25);
        transition: all 0.5s ease;
        transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);

    }


#botaojs{
    display: flex;
    margin-top: 140px;
    width: 390px;
    flex-direction:row ;
    justify-content: center;
    border-radius: 10px;
    background: rgb(124,32,186);  
    padding: 1px;
    margin: 5px;
    margin-top: 80px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    background: linear-gradient(90deg, rgba(124,32,186,1) 10%, rgba(223,132,132,1) 50%, rgba(230,189,131,1) 81%);
    background-size: 200% 200%;
}
#botaojs:hover {
       background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        box-shadow: 0 5px 15px rgba(0,0,0,0.25);
        transition: all 0.5s ease;
        transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);
    }

#conteudojs{
    background-color: rgba(112, 117, 128, 0.959);
    color: white;
    width: 380px;
    height: 190px;
    border-radius: 10px;
    margin: 0px;
    font-size: 18px;
    padding: 10px;
    margin-top: 300px;
    position: relative;
    transition: all 0.2s ease;
}

#linkedinicon{
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
    position: relative;
   
}
#dia{
    margin: 10px;
    padding: 0px;
    background-color: rgba(10, 23, 55, 0.514);
    border-radius:94% 100% 100% 0% / 48% 0% 100% 7% ;
    margin-left: 10px;
    margin-top: 0px;
    width: 200px;
    color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: flex;
    flex-direction: row;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 25px;
}

#dia:hover{
    transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);
    transition: all 0.5s ease;

}

#linkedinicon:hover{
    transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);
    transition: all 0.5s ease;
}
#githubicon{

    background: linear-gradient(301deg, #ff0000, #cfe846, #468ae8, #f509b8, #f30000, #050101, #ffffff, #00ff15, #65b096, #3ad5d0);
    background-size: 2000% 2000%;

    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;

    max-width:100px;
    max-height:100px;
    border-radius: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 110px;
    margin-top: -105px;
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}



#githubicon:hover{
    transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);
    transition: all 0.5s ease;
}
.containericons{
    display:flex ;
    flex-direction: row;
}
.imagens{
    max-width:400px;
    max-height:250px;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;

}
